@import "Fonts";
@import "Variables";
@import "ResetStyles";
@import "LoginStyles";
@import "Loading";

//PADDINGS
$padding-container: 40px;

//COLORS
.color-primary{
  color: $color-primary;
}

//SHOW/HIDE
.opacity{
  opacity: 0.5;
}
.d-none{
  display: none;
}

//CONTAINER
.container {
  padding: 0 $padding-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 150px);
}
